* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ececec;   
}

header {
    height: 100px;
    background-color: white;
}

#logo {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 25px;
}

h1 {
    display: inline-block;
    font-size: 40px;
    color: #031732;
    vertical-align: middle;
    padding-top: 25px;
}

#rectangle-box {
    width: 900px;
    height: 700px;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    border-radius: 10px;
}

.calltoaction1 {
    height: 30px;
    width: 80px;
    display: inline-block;
    background-color: #47ACF1;
    border-radius: 5px;
    border: 2px solid #33A5EF;
    margin-top: 15px;
    margin-left: 60px;
}

.text-calltoaction1 {
    color: white;
    display: inline-block;
    font-size: 14px;
    padding-top: 5px;
    padding-left: 8px;
}

.calltoaction2 {
    display: inline-block;
    height: 30px;
    width: 90px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #C8CED2;
    margin-top: 15px;   
}

.text-calltoaction2 {
    color: #C8CED2;
    display: inline-block;
    font-size: 14px;
    padding-left: 6px;
    padding-top: 5px;
}

hr {
    border: 1px solid #F6F8F9;
    margin-top: 10px;
}

h2 {
    font-family: Helvetica, Arial;
    display: inline-block;
    color: #434751;
}

h3 {
    font-family: Times New Roman, Times;
    display: inline-block;
    color: #434751;
}

.list {
    display: inline-block;
    margin-left: 60px;
    margin-top: 40px;
    
}

.row1 {
    margin-left: 80px;
    margin-top: 20px;
}

.calltoaction3 {
    display: inline-block;
    color: white;
    font-size: 12px;
    background-color: #47ACF1;
    border-radius: 5px;
    width: 60px;
    height: 25px;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 9px;
    margin-left: 4px;
}

.greentick {
    color: green;
    background-color: white;
    border: 2px solid green;
    border-radius: 50%;
    margin-left: 4px;
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
}

.redx {
    color: red;
    background-color: white;
    border: 2px solid red;
    border-radius: 50%;
    margin-left: 4px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    height: 20px;
    width: 20px
}

.row2 {
    margin-left: 80px;
    margin-top: 20px;
}

.calltoaction4 {
    display: inline-block;
    color: white;
    font-size: 12px;
    background-color: #9C72E4;
    border-radius: 5px;
    width: 60px;
    height: 25px;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 8px;
    margin-left: 4px;
}

.row3 {
    margin-left: 80px;
    margin-top: 20px;
}

.calltoaction5 {
    display: inline-block;
    color: white;
    font-size: 12px;
    background-color: #64C1A9;
    border-radius: 5px;
    width: 60px;
    height: 25px;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 6px;
    margin-left: 4px;
}

.row4 {
    margin-left: 80px;
    margin-top: 20px;
}

.calltoaction6 {
    display: inline-block;
    color: white;
    font-size: 12px;
    background-color: #F29D33;
    border-radius: 5px;
    width: 50px;
    height: 25px;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 6px;
    margin-left: 4px;
}

.row5 {
    margin-left: 80px;
    margin-top: 20px;
}

.row6 {
    margin-left: 80px;
    margin-top: 20px;
}

.calltoaction7 {
    display: inline-block;
    color: white;
    font-size: 12px;
    background-color: #D863A1;
    border-radius: 5px;
    width: 50px;
    height: 25px;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 6px;
    margin-left: 4px;
}

.row7 {
    margin-left: 80px;
    margin-top: 20px;
}

.calltoaction8 {
    display: inline-block;
    color: white;
    font-size: 12px;
    background-color: #AFC925;
    border-radius: 5px;
    width: 50px;
    height: 25px;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 6px;
    margin-left: 4px;
}

.row8 {
    margin-left: 80px;
    margin-top: 20px;
}



