* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 100px;
    background-color: rgb(235, 235, 47);
    
}


#logo {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 25px;
    
}

h1 {
    display: inline-block;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #031732;
    vertical-align: middle;
    padding-top: 25px;

    ;
    
}


